<!DOCTYPE html>
<html>
<head>
    <title>Учет препаратов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables-style.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('index') }}" class="button primary" style="display:inline-block; width:230px; text-align:center;">
            Вернуться на главную страницу
        </a>
        <h1 style="text-align: center;">Учет препаратов</h1>
        <table class="all-table">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Серийный номер</th>
                <th>Доза</th>
                <th>Количество</th>
                <th>Регистрационный номер</th>
                <th>Действия</th>
            </tr>
            <tr>
                <form method="POST" action="{{ url_for('preparats.create_prep') }}" class="all-form" autocomplete="off">
                    <td>
                        <input type="text" placeholder="Автогенерация" disabled class="text-field" style="width: 40px; text-align:center;">
                    </td>
                    <td>
                        <input type="text" name="name" placeholder="Название" required class="text-field">
                    </td>
                    <td>
                        <input type="text" name="serial" placeholder="Серийный номер" required class="text-field">
                    </td>
                    <td>
                        <input type="text" name="doze" placeholder="Доза" required class="text-field">
                    </td>
                    <td>
                        <input type="text" name="count" placeholder="Количество" required class="text-field">
                    </td>
                    <td>
                        <input type="text" name="registr" placeholder="Регистрационный номер" required class="text-field">
                    </td>
                    <td>
                        <button type="submit" class="button primary" style="cursor:pointer; width: 210px; border:none;">Добавить препарат</button>
                    </td>
                </form>
            </tr>
        </table>
        <hr>
        <table class="all-table">
            {% for prep in preparats %}
            <tr>
                <form method="post" action="{{ url_for('preparats.update_prep', prep_id=prep.id) }}">
                    <td>
                        <input type="text" value="{{ prep.id }}" disabled class="text-field" style="width: 40px; text-align:center;">
                    </td>
                    <td>
                        <input type="text" name="name" value="{{ prep.name }}" class="text-field">
                    </td>
                    <td>
                        <input type="text" name="serial" value="{{ prep.serial }}" class="text-field">
                    </td>
                    <td>
                        <input type="text" name="doze" value="{{ prep.doze }}" class="text-field">
                    </td>
                    <td>
                        <input type="text" name="count" value="{{ prep.count }}" class="text-field">
                    </td>
                    <td>
                        <input type="text" name="registr" value="{{ prep.registr }}" class="text-field">
                    </td>
                    <td>
                        <button type="submit" class="button-redact">Изменить</button>
                        <button type="submit" formaction="{{ url_for('preparats.delete_prep', prep_id=prep.id) }}" class="button-delete">Удалить</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>